備忘録が溢れてきたので、モジュール毎に備忘録を分ける

In [3]:
import pandas as pd
from datetime import datetime, time, date, timedelta

indexに日付を置いた時に、歯抜けの行を補完する方法

In [6]:
tmp = pd.DataFrame(
    {"item": ["hoge", "fuga"]},
    index=[pd.to_datetime("2018-2-14"), pd.to_datetime("2018-2-16")])
tmp

            item
2018-02-14  hoge
2018-02-16  fuga

In [8]:
dates_DF = pd.DataFrame(index=[pd.to_datetime("2018-2-14") + timedelta(days=i) for i in range(5)])
dates_DF

Empty DataFrame
Columns: []
Index: [2018-02-14 00:00:00, 2018-02-15 00:00:00, 2018-02-16 00:00:00, 2018-02-17 00:00:00, 2018-02-18 00:00:00]

In [13]:
tmp2 = tmp.merge(dates_DF, how="outer", left_index=True, right_index=True)
tmp2

            item
2018-02-14  hoge
2018-02-15   NaN
2018-02-16  fuga
2018-02-17   NaN
2018-02-18   NaN