備忘録が溢れてきたので、モジュール毎に備忘録を分ける

In [3]:
import pandas as pd
from datetime import datetime, time, date, timedelta

indexに日付を置いた時に、歯抜けの行を補完する方法

In [6]:
tmp = pd.DataFrame(
    {"item": ["hoge", "fuga"]},
    index=[pd.to_datetime("2018-2-14"), pd.to_datetime("2018-2-16")])
tmp

            item
2018-02-14  hoge
2018-02-16  fuga

In [36]:
dates_DF = pd.DataFrame(index=pd.date_range('2018-2-14', periods=5, freq='D'))
dates_DF

Empty DataFrame
Columns: []
Index: [2018-02-14 00:00:00, 2018-02-15 00:00:00, 2018-02-16 00:00:00, 2018-02-17 00:00:00, 2018-02-18 00:00:00]

In [13]:
tmp2 = tmp.merge(dates_DF, how="outer", left_index=True, right_index=True)
tmp2

            item
2018-02-14  hoge
2018-02-15   NaN
2018-02-16  fuga
2018-02-17   NaN
2018-02-18   NaN

In [1]:
import pandas as pd
from datetime import date, timedelta

In [37]:
tmp = pd.DataFrame(
    {"売上個数": [2, 3, 1]},
    index=[pd.to_datetime("2018-2-14"), pd.to_datetime("2018-2-16"), pd.to_datetime("2018-2-17")])
tmp

            売上個数
2018-02-14     2
2018-02-16     3
2018-02-17     1

pandas.resample

In [38]:
tmp.resample('D').mean()

            売上個数
2018-02-14   2.0
2018-02-15   NaN
2018-02-16   3.0
2018-02-17   1.0

In [20]:
tmp.resample('2D').mean()

            売上個数
2018-02-14   2.0
2018-02-16   1.5

In [21]:
tmp.resample('2D').sum()

            売上個数
2018-02-14     2
2018-02-16     3

In [46]:
index=pd.date_range('2018-2-14', periods=5, freq='D').to_pydatetime()

In [51]:
index[0]

datetime.datetime(2018, 2, 14, 0, 0)

In [48]:
date_DF = pd.DataFrame(index=index)

In [52]:
date_DF.index[0]

Timestamp('2018-02-14 00:00:00')

In [53]:
date_DF.index = date_DF.index.to_pydatetime()

In [57]:
date_DF.index[0]

Timestamp('2018-02-14 00:00:00')

In [35]:
date_DF.week

Int64Index([7, 7, 7, 7, 7], dtype='int64')

In [24]:
tmp.groupby(date_DF, how="outer", left_index=True, right_index=True)

ValueError: Grouper and axis must be same length

In [10]:
date_DF[0]

Timestamp('2018-02-14 00:00:00', freq='D')